# Python cache files
__pycache__/
*.py[cod]

# Environment variables file
backend/.env

# Virtual environments
venv/
env/
.env/

# IDE and editor files
.vscode/
.idea/
*.swp

# Logs
*.log

# Database files
*.db

#data folder
backend/data/
backend/initialisation.py